<template name='FieldUpdatePopup'>
  {{# PopupToggle id=id autoPosition='vertical'}}
    <a href="#" class="field-update-popup-toggle">
      <i class="fa fa-pencil"></i>
    </a>
  {{/ PopupToggle}}
  {{# PopupWindow id=id closeBtnPosition='left'}}
    {{# autoForm id=id
                 type='update'
                 collection=collection
                 doc=doc
                 template='bootstrap3-inline'
                 class='form-inline'
                 afFieldInput-placeholder='schemaLabel'
                 setArrayItems=setArrayItems}}
      {{> afQuickField name=fieldName label=false}}
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check"></i>
      </button>
    {{/ autoForm}}
  {{/ PopupWindow}}
</template>