<template name='FieldUpdatePopup'>
  {{# PopupToggle id=id autoPosition='vertical'}}
    <a href="#">
      <i class="fa fa-pencil"></i>
    </a>
  {{/ PopupToggle}}
  {{# PopupWindow id=id}}
    {{# autoForm id=id
                 type='update'
                 collection=collection
                 doc=doc
                 template='bootstrap3-inline'
                 class='form-inline'
                 afFieldInput-placeholder='schemaLabel'}}
      {{> afQuickField name=fieldName}}
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check"></i>
      </button>
    {{/ autoForm}}
  {{/ PopupWindow}}
</template>