<template name="UserProfile">
  <div class="user-profile">
    <h2 class="text-center">
      Profile page
    </h2>
    <div class="row">
      <div class="col-md-3 col-lg-3">
        {{> avatar user=currentUser
                   size="large"
                   class="pull-right"
                   shape="rounded"
                   initials=userInitials}}
      </div>
      <div class="col-md-9 col-lg-9">
        <p class="lead">
          {{currentUser.profile.fullname}}
          {{# PopupToggle id='userFullname'}}
            <a href="#">
              <i class="fa fa-pencil"></i>
            </a>
          {{/ PopupToggle}}
          {{# PopupWindow id='userFullname'}}
            {{# autoForm id='updateUserFullname'
                         type='update'
                         collection=collections.users
                         doc=currentUser}}
              {{> afQuickField name='profile.fullname'}}
              <button type="submit" class="btn btn-primary">Submit</button>
            {{/ autoForm}}
          {{/ PopupWindow}}
        </p>
        <p>
          <b>Email:</b>
          &nbsp;
          <a href="mailto:{{userEmail}}">
            {{userEmail}}
          </a>
        </p>
        <p>
          <b>Role:</b>
          &nbsp;
          {{# if isInRole 'admin'}}
            admin
          {{else}}
            user
          {{/ if}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h3>
          Companies
          &nbsp;
          {{# linkTo route='createCompany'}}
            <i class="fa fa-plus"></i>
          {{/ linkTo}}
        </h3>
        <div class="lead">
          {{# each currentUser.profile.companies}}
            {{> CompanyInfo}}
          {{/ each}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h3>
          Settings
          &nbsp;
          <a class="settings-area-toggle-btn" data-toggle="collapse" href="#settings-area" aria-expanded="false" aria-controls="settings-area">
            <i class="fa fa-eye"></i>
            <i class="fa fa-eye-slash"></i>
          </a>
        </h3>
        <div class="collapse" id="settings-area">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="start-week-from" class="col-sm-2 control-label">
                Start week from
              </label>
              <div class="col-sm-10">
                <select class="form-control" id="start-week-from">
                  <option>Sunday</option>
                  <option selected="selected">Monday</option>
                  <option>Tuesday</option>
                  <option>Wednesday</option>
                  <option>Thursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="hide-holidays" class="col-sm-2 control-label">
                Hide holidays
              </label>
              <div class="btn-group col-sm-10" data-toggle="buttons" id="hide-holidays">
                <label class="btn btn-primary active">
                  <input type="radio" name="options" autocomplete="off" checked>
                  Show
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" autocomplete="off">
                  Hide
                </label>
              </div>
            </div>
          </form>
          <p>
            {{# linkTo route='atResetPwd'}}
              Reset password
            {{/ linkTo}}
          </p>
          <p>
            <a href="#" class="text-danger" data-action="remove-user">
              Delete account
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
