.price-block {
  display: table;
  .price-item {
    border-radius: 100%;
    border: 1px solid RGBA(0, 0, 0, 0.35);
    width: 8em;
    height: 8em;
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}
