<template name="CompanyProfile">
  <div class="company-profile">
    <h2 class="text-center">
      Company profile
    </h2>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <p class="lead">
          <i class="fa fa-users"></i>
          {{company.name}}
          {{> FieldUpdatePopup id='updateCompanyName'
                               collection=collections.companies
                               doc=company
                               fieldName='name'}}
          {{> DocRemoveBtn collection=collections.companies _id=company._id}}
        </p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
          <li class="active">
            <a href="#company-projects" data-toggle="tab">
              Projects
            </a>
          </li>
          <li>
            <a href="#company-customers" data-toggle="tab">
              Customers
            </a>
          </li>
          <li>
            <a href="#company-users" data-toggle="tab">
              Users
            </a>
          </li>
          <li>
            <a href="#company-resources" data-toggle="tab">
              Resources
            </a>
          </li>
        </ul>
      </div>

      <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="company-projects">
            {{> CompanyProfileProjectsTab}}
          </div>
          <div class="tab-pane" id="company-customers">
            {{> CompanyProfileCustomersTab}}
          </div>
          <div class="tab-pane" id="company-users">
            <p class="lead">Users</p>
          </div>
          <div class="tab-pane" id="company-resources">
            <p class="lead">Resources</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
